body{
      font-family: "Mulish", sans-serif;
    }

.nav-left{
    width: 100%;
    display: flex;
}
.navbar{
    width: 100%;
    display: flex;
}
.image{
    width: 100%;
}
.nav-list{
    width: 100%;
    display: flex;
    gap: 10%;
}
.nav-list li{
    list-style: none;
}
.nav-list li a{
    color: #1F1534;
    text-decoration: none;
}
.tri{
    opacity: 100%;
}
.done{
    opacity: 50%;
}
